<div class="w-full">
  <%= render 'notice' %>

  <div class="flex items-center justify-between mb-6 pb-2 border-b-2">
    <h1 class="font-bold text-xl">
      <%= t('.title_html') %>
    </h1>

    <%= turbo_stream_from 'products' %>

    <% if @counter && @counter > 5 %>
      <span class="text-sm text-gray-500">
        <%= pluralize(@counter, "visit") %>
      </span>
    <% end %>
  </div>
 
  <ul>
    <% cache @products do %>
      <% @products.each do |product| %>
        <% cache product do %>
          <%= render partial: 'product', object: product %>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
