<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= content_for(:title) || "Pragprog Books Online Store" %>
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (enable in routes if needed) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="bg-green-700 p-4 flex items-center gap-4">
      <%= image_tag "logo.svg",
            alt: "The Pragmatic Bookshelf",
            class: "h-10" %>

      <h1 class="text-white text-xl font-bold">
        <%= @page_title %>
      </h1>
    </header>

    <section class="flex">
      <nav class="bg-green-900 p-6 w-64">
        <%= render partial: 'layouts/cart', locals: { cart: @cart } %>

        <ul class="text-gray-300 leading-8">
          <li><%= link_to "Home", "/" %></li>
          <li><%= link_to "Questions", "/questions" %></li>
          <li><%= link_to "News", "/news" %></li>
          <li><%= link_to "Contact", "/contact" %></li>
        </ul>
      </nav>

      <main class="container mx-auto mt-4 px-5 flex">
        <%= yield %>
      </main>
    </section>
  </body>
</html>
